
body{
    font-size: 20px;
    width: 700px;
    margin-left: 350px;
}
.headingstyle{
    background-color: darkgreen;
    color:white;
    text-align: center;
    padding:10px;
}
.word-design1
{
    font-weight:bold;
    color:orangered;
    font-style:italic;
}
.word-design2
{
    color:peru;
}
.word-design3{
    color:orange;
    text-decoration:None;
}
img
{
    width:300px;
    height:300px;
    margin-left: 50px;
}
.sharebtn{
    background: blue;
    color:white;
    margin-top:20px;
    padding:10px 30px 30px 10px;
    text-decoration: none;
    border-radius:10px ;
    
}
.commentbtn{
    background-color: orange;
    padding:10px;
    color:white;
    margin-left:50px;
    padding:10px 30px 30px 10px;
    text-decoration: none;
    border-radius:10px ;
}